@model PlayingVideoVM
<button class="like" id="btn_like" style="cursor:pointer; border:none; background-color:transparent;"><i class="@ViewBag.LikeStyle fa-thumbs-up"></i></button> <span id="like_Count">@Model.LikesForVideos.Where(x => x.Liked == true).Count()</span>
<button class="dislike" id="btn_dislike" style="cursor:pointer;  border:none; background-color:transparent;"><i class="@ViewBag.DisLikeStyle fa-thumbs-down"></i></button> <span id="dislike_Count">@Model.LikesForVideos.Where(x => x.Liked == false).Count()</span>