@model CourseVM
@{
    ViewData["Title"] = "OwnCourses";
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Şəkil</th>
                <th scope="col">Başlıq</th>
                <th scope="col">Didaktik material sayı</th>
                <th scope="col">Video sayı</th>
                <th scope="col">Kuiz sayı</th>
                <th scope="col">Əməliyyatlar</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CourseUsers.Count(); i++)
            {
                <tr>
                    <td scope="col" sstyle="padding-right:0 !important;"><img style="height:50px; width:100px; " src="~/images/courses/@Model.CourseUsers.ElementAt(i).Course.Image" /></td>
                    <td>@Model.CourseUsers.ElementAt(i).Course.Title</td>
                    <td scope="col">@Model.CourseUsers.ElementAt(i).Course.DidacticMaterials.Count()</td>
                    <td scope="col">@Model.CourseUsers.ElementAt(i).Course.Videos.Count()</td>
                    <td scope="col">@Model.CourseUsers.ElementAt(i).Course.Quizzes.Count()</td>
                    <td scope="col" style="display:flex;">
                        <a class="btn btn-info">
                            <i style="color:#ffffff;" class="fas fa-info"></i>
                        </a>
                        <a class="btn btn-warning">
                            <i style="color:#ffffff;" class="fas fa-pen"></i>
                        </a>
                        <form method="post">
                            <a class="btn btn-danger">
                                <i style="color:#ffffff;" class="fas fa-trash-alt"></i>
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    function showCoursefileName(Id) {
        let courses = document.querySelectorAll(".card");
        for (let course of courses) {
            let fileName = course.lastElementChild;
            let courseId = course.firstElementChild.value;
            if (courseId == Id) {
                if (fileName.style.display == "none") {
                    fileName.style.display = "block";
                }
                else {
                    fileName.style.display = "none"
                }
            }
            else {
                fileName.style.display = "none";
            }
        }
    };


    function addFilenameModal() {

    }
</script>